@tailwind base;

@layer base {
    html, body {
        height: 100%;
    }
}

@tailwind components;
@tailwind utilities;

#__next {
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fafafa;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d7d7d7;
}