@tailwind base;

@layer base {
  html,
  body {
    height: 100%;
  }

  img, button, div, input, textarea, a {
    -webkit-tap-highlight-color: transparent;
  }
}

@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

@media (min-width: 640px) {
  body ::-webkit-scrollbar {
    width: 6px;
  }

  body ::-webkit-scrollbar-track {
    background: transparent;
  }

  body ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 5px;
  }

  body ::-webkit-scrollbar-thumb:hover {
    background: #adadad;
  }
}

.disabled-button{
  pointer-events: none;
  opacity: 0.6;
}